@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root {
    --couleur-principale: #814AC2;
    --couleur-hover: #934AC3;
    --taille-subtitle: 32px;
}

* {
    font-family: "Oxanium", sans-serif;
}
/* --------------- CONTENU PRINCIPALE ---------------*/
.Contenu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #011236;

    /* CERCLE BLEUE */
    #Blue_circle {
        position: absolute;
        background: rgba(112, 105, 200, 0.5);
        filter: blur(300px);
        border-radius:50%;
        width:800px;
        height:800px;
        /* relatif à un des côtés */
        top: -300px;
        left: -300px;
    }

    /* CERCLE ROSE */
    #Pink_circle {
        position: absolute;
        background: rgba(255, 0, 123, 0.6);
        filter: blur(300px);
        border-radius:50%;
        width:800px;
        height:800px;
        /* relatif à un des côtés */
        top: -300px;
        right: -300px;
    }
}
/* --------------------------------------------------*/





/* --------------- PARTIE CAUCHE ---------------*/
.Left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(1, 18, 54, 0.5);
    box-shadow: 1px 4px 1.5px #7069C8;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ---------------------------------------------*/

.Left .Contenu-Gauche {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ---------------  ANIMATION INSCRIPTION UTILISATEUR ---------------*/
.form-container {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: green; */
    text-align: center;
    /* vertical-align: middle; */
    /* top: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-step {
    position: absolute;
    width: 50%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    /* top: 20%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* au départ, toutes les étapes sont placées sous le conteneur */
    transform: translateY(100%);
    transition: transform 0.5s ease;
    opacity: 0;
}
  
.form-step.active {
    /* l’étape active est visible et en place */
    transform: translateY(0);
    opacity: 1;
}
/* ------------------------------------------------------------------*/






.Left .Titre {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.Left .Titre h1 {
    color: var(--couleur-principale);
    padding-left: 5px;
}

.Left .SubTitle {
    color: #fff;
    font-family: "Oxanium", sans-serif;
    font-weight: bold;
    font-size: var(--taille-subtitle);
    text-align: center;
    align-items: center;
}

.Left .Paragraphe {
    color: #fff;
    font-weight: lighter;
}

.Left .Input-group {
    position: relative;
    margin: 20px 0;
}

.Left .Input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.Left .Input-group input {
    width: 353px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #7069C8;
    outline: none;
    border-radius: 15px;
}

.Input-group input:focus~label,
.Input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background: #011236;
    color: var(--couleur-principale);
}


/* ----- "MOT DE PASSE OUBLIÉ ?" ----- */
.Left .Remember {
    margin: -15px 0 15px;
}


.Remember a {
    color: var(--couleur-principale);
    font-weight: 600;
    text-decoration: none;
}

.Remember a:hover {
    text-decoration: underline;
}

.Left .btn {
    position: relative;
    top: 0;
    left: 0;
    width: 373px;
    height: 40px;
    background-color: var(--couleur-principale);
    font-size: 16px;
    color: #fff;
    font-weight: ExtraLight;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 0 10px;
}

.Left .btn:hover {
    transform: scale(1.01);
    background-color: var(--couleur-hover);
    cursor: pointer;
}


.Left .Connexion {
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}

.Left .Connexion p {
    color: #fff;
}

.Left .Connexion p a {
    color: var(--couleur-principale);
    text-decoration: none;
    font-weight: 600;
}

.Left .Connexion p a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}



/* --------------- SELECTION --------------- */
select {
    width: 373px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 70px 0 10px;       /* espace pour le texte + flèche */
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid #7069C8;
    border-radius: 15px;
    outline: none;
}

select option {
    background-color: #011236;
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 5px; 
}
/* ----------------------------------------- */



/* --------------- CHECK BOX --------------- */
.checkbox-group {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .checkbox-group label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    color: #fff;
    user-select: none;
  }
  .checkbox-group input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #7069C8;
    border-radius: 4px;
    margin-right: 6px;
    position: relative;
    transition: background 0.2s, border-color 0.2s;
  }
  .checkbox-group input[type="checkbox"]:checked {
    background: #7069C8;
    border-color: #7069C8;
  }
  .checkbox-group input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
/* ----------------------------------------- */


/* --------------- BIOGRAPHIE --------------- */
textarea {
    width: 373px;
    height: 100px;
    font-size: 16px;
    color: #fff;
    /* padding: 0 70px 0 10px;       espace pour le texte + flèche */
    background-color: transparent;
    /* background-repeat: no-repeat;
    background-position: right 10px center; */
    padding-left: 10px;
    padding-right: 10px;
    border-color: #7069C8;
    border-radius: 15px;
    outline: none;
}
/* ------------------------------------------ */







/* --------------- ETAPES DE CONNEXION --------------- */
.Left .Etape-connexion {
    position: relative;
    margin-top: 30px;
    width: 320px;
    height: 40px;
    /* border: 1px solid red;
    border-radius: 15px; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.Etape-connexion .Etape-valide {
    border: 1px solid #7069C8;
    background-color: #7069C8;
    border-radius: 20px;
    padding: 0 20px;
    color: #fff;
}

.Etape-connexion .Etape-non-valide {
    border: 1px solid #7069C8;
    border-radius: 20px;
    padding: 0 20px;
    color: #fff;
}
/* --------------------------------------------------- */









/* --------------- PARTIE DROITE ---------------*/
.Right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;


    background-image: url('../../Images/Manette.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* 10% d'opacité */
}
/* ---------------------------------------------*/
















