.Container .Contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    color: white;
    background-color: blue;
}

.Container .Contact p {
    color: red;
    text-align: center;
    
}

.Container .Discussion {
    position: absolute;
    top: 0;
    left: 25%;
    width: 55%;
    height: 100%;
    background-color: white;
}

.Container .Informations {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: red;
}